/* #plss{
    margin: 30px;
    border: 30px solid;
    border-color:rgb(20, 26, 143);
} */
body{
    /* background-color: rgb(223, 188, 240); */
    background-image: url('t9.jpg');
  }


#intro{
    text-align: center;
    background-color: rgb(142, 143, 221);
}

.abc h1 {
    text-align: center;
    /* justify-content: center; */
    background-color: rgb(121, 235, 255);
}








