{%extends "blog/base.html"%}
{%block content%}
{% load static %}
{% block extrahead %}
<!-- <link rel="stylesheet" href="{% static 'blog/new.css' %}">
 -->
 <link rel="stylesheet" href='/static/blog/p1.css?{% now "U" %}'/>
 <link rel="preconnect" href="https://fonts.gstatic.com">
 <link href="https://fonts.googleapis.com/css2?family=Langar&display=swap" rel="stylesheet">
 <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">

{% endblock %}

<!-- <link rel="stylesheet" type="text/css" href="{%static 'blog/about.css' %}"> -->

  <!-- <h1>about page</h1> -->


<div id="intro">
  <h1>To the person, I love the most...</h1>
  <h3>By Nikita Yadav~</h3>
</div>

<div  id="para">
    <div class="post">
    <p>
        Hey love,<br>
Happy propose day. I know you would have got a lot of proposals, a lot of merry making requests and a lot of hangout offers. But I bet you this one is going to be the best one till date.
<br><br>
Till this date neither did I express my love for you nor did I hide it, neither did I give you a chance to sit on pedestal of my dreams nor did I throw you out of all my fantasies. I always treated you neutrally and normally. I never gave you that special mention award. But you deserve it now. I take my pleasure to expose you out in front of this world.
<br><br>
So "Ms. You", thank you for bearing with me. You know it all, all my mood swings, all my tantrums, all my dramas, all my sensual and sexual thoughts about Mr. X, all my dilbars and jaan-e-jigars, all my sleepless nights, all my guilty pleasures, all my dirty mind thoughts, all my 'Alls'. I am sorry for ignoring you for others, for moulding you to fit in their acceptance, for changing you to be loved by them and not by me. I love you so much, "Ms. You". Will you forgive me for my intolerable torture? Will you love me forever? Will you always be mine?<br>
Yours<br>
You
    </p>
    </div>
</div>

  
{%endblock content%}
