{%extends "blog/base.html"%}
{%block content%}
{% load static %}
{% block extrahead %}
<!-- <link rel="stylesheet" href="{% static 'blog/new.css' %}">
 -->
 <link rel="stylesheet" href='/static/blog/p1hindi.css?{% now "U" %}'/>
 <link rel="preconnect" href="https://fonts.gstatic.com">
 <link href="https://fonts.googleapis.com/css2?family=Langar&display=swap" rel="stylesheet">
 <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Arya&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Yatra+One&display=swap" rel="stylesheet">

{% endblock %}

<!-- <link rel="stylesheet" type="text/css" href="{%static 'blog/about.css' %}"> -->

  <!-- <h1>about page</h1> -->


<div id="intro">
  <h1>ताड़ लो 'गर तबीयत से, तो बिल्कुल अप्सरा भांति है -<br>
    और अगर भड़क उठे तो मानो जैसे साक्षात् क्रांति है । <br></h1>
  <h3>By Vinayak Kuthiyala~</h3>
</div>

<div  id="para">
    <div class="post">
    <p>
        बादलों में छिपी ,<br>
आफ़ताब सी - स्पर्श में गुलाब सी ,<br>
कभी कर देती खुश,<br>
तो कभी छोड़ जाती बेताब सी ।<br><br>

ताड़ लो 'गर तबीयत से, तो बिल्कुल अप्सरा भांति है -<br>
और अगर भड़क उठे तो मानो जैसे साक्षात् क्रांति है । <br>
'गर पलट ले करवट, तो भीड़ उठ उसके पीछे चल पड़े-<br>
जाने कितने ही बावरे उसके लिए जीए, और कितने ही मर पड़े ।<br><br>

बता रहा हूँ ना -
<br><br>
बादलों में छिपी ,<br>
आफ़ताब सी - स्पर्श में गुलाब सी ,<br>
कर देती कभी खुश ,<br>
तो कभी छोड़ जाती बेताब सी -<br>
इस कदर की लगे सिर्फ वो ही तो चाहिए,<br>
कहानियाँ उसकी भी हैं कुछ अपने आप सी ।<br>
माशूका समझ बैठे तो भी गलत तो न कहूँगा -<br>
पर बातें तो थी ये वो ही....... किताब की । <br><br>

    </p>
    </div>
</div>

  
{%endblock content%}
