{%extends "blog/base.html"%}
{%block content%}
{% load static %}
{% block extrahead %}
<!-- <link rel="stylesheet" href="{% static 'blog/new.css' %}">
 -->
 <link rel="stylesheet" href='/static/blog/p1.css?{% now "U" %}'/>
 <link rel="preconnect" href="https://fonts.gstatic.com">
 <link href="https://fonts.googleapis.com/css2?family=Langar&display=swap" rel="stylesheet">
 <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">

{% endblock %}

<!-- <link rel="stylesheet" type="text/css" href="{%static 'blog/about.css' %}"> -->

  <!-- <h1>about page</h1> -->


<div id="intro">
  <h1>She tells you ‘No’,
    You kiss her again<br>
    She tells you ‘No’,
    You give her strain<br></h1>
  <h3>By Anonymous~</h3>
</div>

<div  id="para">
    <div class="post">
    <p>
        She tells you ‘No’<br>
You kiss her again<br>
She tells you ‘No’<br>
You give her strain<br>
She smells of whiskey<br>
Or even of bread<br>
It's not a permit to<br>
push her to bed<br>
You give her bruises<br>
All black and blue<br>
Is this the way<br>
Of saying I Love You?<br>
Well,this is not enough!<br>
Blaming is left<br>
Shaming is left<br>
Pressurizing the victim<br>
And taming is left<br>
You hit her hard<br>
In the dark & in light<br>
You torture her to death<br>
And she can’t even fight<br>
She’s asked to be quiet<br>
She’s asked to be shut<br>
Or else, they’ll call her a whore,<br>
they’ll call her a slut<br>
But,<br>
She’ll fight today<br>
She’ll fight tomorrow<br>
Just be her strength<br>
Don’t give her sorrow<br>
Oh poor babies,<br>
The monsters won’t let you live<br>
You need to be on your own<br>
Because they are demons, eating all<br>
Destroying from Flesh to Bone<br>
On this side is a,<br>
GRIM REALITY<br>
On the other side of the road<br>
is Revolution<br>
Cross the road and take a step<br>
For this time,<br>
We need more than<br>
just an Evolution!!<br>

    </p>
    </div>
</div>

  
{%endblock content%}
